@charset "UTF-8";

:root {
  --white-color: #fff;
  --black-color: #333;
  --primary-color: #ffa25a;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Yomogi", cursive;
  color: var(--white-color);
  /* background: var(--black-color); */
  background-image: url(../img/cafe01.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

/* header */
.header {
  width: 100%;
  height: 100vh;
  padding: 10px 20px;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.nav-item {
  font-family: "Yomogi", cursive;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px 10px var(--black-color);
}
.nav-item:hover {
  color: var(--primary-color);
}

.header-ttl {
  margin-top: 400px;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px 10px var(--black-color);
  padding-left: 40px;
}
.header-ttl_sub {
  margin-top: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 10px var(--black-color);
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .header-ttl {
    font-size: 40px;
  }
}

/* 共通 */
.conts {
  width: 90%;
  padding: 10px 20px 30px 20px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 30px;
}
.cont-ttl {
  font-size: 32px;
  text-align: center;
}
.cont-txt {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .conts {
    width: 80%;
    padding: 20px 30px 40px 30px;
  }
  .cont-ttl {
    font-size: 40px;
  }
}

/* item */
.cont-item {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cont-item img {
  width: 120px;
  border-radius: 20px;
  box-shadow: inset 0 0 10px var(--black-color);
}
.cont-item img:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.cont-item p {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .cont-items {
    padding-top: 30px;
  }
  .cont-item {
    margin-top: 40px;
    gap: 40px;
  }
  .cont-item img {
    width: 240px;
  }
  .cont-item p {
    width: 400px;
  }
}

/* news */
.news-table {
  margin-top: 30px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.news-table tr {
  margin-top: 10px;
  border-bottom: 1px solid var(--white-color);
}
.news-table tr:hover {
  transition: 0.3s;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.news-btn {
  margin-top: 40px;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(51, 51, 51, 0);
  text-shadow: 2px 2px 10px var(--black-color);
}
.news-btn:hover {
  color: var(--primary-color);
}

/* loc */
.loc-map {
  padding: 20px 0;
  width: 100%;
  height: 300px;
}
.loc-address p:not(:first-child) {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .loc-map {
    height: 500px;
  }
  .loc-address {
    margin-top: 30px;
  }
}

/* スクロールで表示するやつ */
.trigger {
  transition: 1s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.on {
  transform: translateY(0);
  opacity: 1;
}

/* footer */
footer {
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
}
